<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact page</title>

    <style>
        h1{
            text-align:center;
            background-color: black;
            color: aliceblue;
            font-size: 80px;
            font-weight: bolder;
            text-shadow: 12px 8px 12px yellow;
        }
    </style>
</head>
<body>

<h1>Contact us</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto cumque deleniti dolore eligendi exercitationem explicabo nesciunt non nostrum, perferendis praesentium quia quisquam recusandae rerum sit veritatis, vero. Autem, veniam.</span><span>Distinctio facilis nobis quae quas repellat sed tenetur totam voluptas voluptate, voluptatibus? Ea ex repellendus tempore. Doloremque eligendi id labore mollitia placeat similique unde velit vero? Assumenda numquam recusandae vitae!</span><span>Assumenda autem blanditiis commodi corporis, cupiditate distinctio doloremque doloribus facilis itaque, laudantium magni molestiae obcaecati quasi quod sunt unde voluptatem. Dicta fuga ipsa ipsum laboriosam odit pariatur quidem totam. Libero.</span><span>Accusamus, adipisci dicta eligendi harum illo iure libero nesciunt pariatur placeat quae, quasi sed veniam vitae. Dicta dignissimos est iure, labore, laudantium, modi nisi nobis quia sint tempora veniam vitae!</span></p>

</body>
</html>